<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Express To-Do</title>
</head>
<body>
  <h1>Pokemon</h1>
  <ul>
    <% pokemon.forEach(mon => { %>
      <li>
        <form 
          action="/todos/<%= mon._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
        <button type="submit">X</button>
        </form>
        <a href="/pokemon<%= mon._id %>">
				<%= mon.text %> 
				- 
				<%= mon.starter ? 'Starter' : 'Not Starter' %>
			</li>
    <% }) %>
  </ul>
  <a href="/pokemon/new">Add Pokemon</a><br>
  <a href="/">Home</a>
</body>
</html>